<div  ng-controller="NavCtrl as ctrl">
<span class="mdl-layout-title">


  <img class="android-logo-image" src="images/android-logo-white.png">
</span>
<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href="/#/roubos">Roubos</a>
  <a class="mdl-navigation__link"href="/#/posts">Posts</a>

  <div class="android-drawer-separator"></div>

  <a class="mdl-navigation__link"  ng-show="isLoggedIn()">{{ currentUser() }}</a>
<a class="mdl-navigation__link"  ng-show="isLoggedIn()"href="" ng-click="logOut()">Log Out</a>
  <a class="mdl-navigation__link" ng-hide="isLoggedIn()" href="/#/login">Entrar</a>
<a class="mdl-navigation__link"  ng-hide="isLoggedIn()" href="/#/register">Register</a>


</nav>
</div>
